<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.hnzskj.org.mapper.OrgMapper">
   
    <!-- 查询参数，修改即可 -->
    <sql id="fields">
    	UUID,ORGCODE,ORGNAME,MAPNAME,ORGPARENTUUID,SEQUENCENO,ORGPROP,LINKMAN,LINKMOBILE,CREATETIME
    </sql>
    
    <sql id="searchFields">
    	<include refid="fields"/>,(select ORGNAME from SYS_ORG S where s.uuid = SYS_ORG.ORGPARENTUUID) AS ORGPARENTNAME
    </sql>
    
    <!-- 分页，通过map进行设置，map的key为pageBean，一般不需要修改 -->
    <sql id="limitSql" >
    	 <if test="null!=pageBean" >
    		 limit ${pageBean.limit} offset ${pageBean.offset}
    	 </if>
    </sql>
    
    <!-- 动态where条件，通过map进行设置，map的key为demo，demo对应的就是service中的modelName -->
    <sql id="dynamicWhere" >
	  	<where>
	  		<if test="null!=org" >
		  		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(org.uuid)" >
			        and uuid = #{org.uuid} 
			    </if>
			    <if test="@org.apache.commons.lang.StringUtils@isNotBlank(org.orgCode)" >
			        and orgCode like '%'+#{org.orgCode}+'%'  
			    </if>
			    <if test="@org.apache.commons.lang.StringUtils@isNotBlank(org.orgName)" >
			        and orgName like '%'+#{org.orgName}+'%'  
			    </if>
			    <if test="@org.apache.commons.lang.StringUtils@isNotBlank(org.orgParentUuid)" >
			        and orgParentUuid =#{org.orgParentUuid}
			    </if>
		    </if>
		    and 1=1 
	  	</where>
  	</sql>
  
  	<!-- 添加 -->
	<insert id="add" parameterType="Org">
		insert into SYS_ORG(<include refid="fields" />) values(#{uuid},#{orgCode},#{orgName},#{mapName},#{orgParentUuid},#{sequenceNo},#{orgProp},#{linkMan},#{linkMobile},#{currentTime})
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="Org">
		update SYS_ORG set ORGCODE = #{orgCode},ORGNAME = #{orgName},MAPNAME = #{mapName}, ORGPARENTUUID = #{orgParentUuid},SEQUENCENO = #{sequenceNo},ORGPROP = #{orgProp},LINKMAN = #{linkMan},LINKMOBILE = #{linkMobile} where uuid=#{uuid}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="Org">
		delete from  SYS_ORG where uuid = #{uuid}
	</delete>
	
	
	<!-- 批量删除 -->
	<delete id="delete" >
		delete from  SYS_ORG  where uuid in
	  <foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
           #{item}   
   	  </foreach>  
	</delete>
	
 	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类-->  
	<select id="findByPrimaryKey" parameterType="Org" resultType="Org">
		select <include refid="searchFields" /> from SYS_ORG 
		where uuid=#{uuid}
	</select>
	
	<!-- 根据条件查询一条数据 -->
	<select id="findByExample" parameterType="Org" resultType="Org">
		select top 1 <include refid="searchFields" /> from SYS_ORG  
		<include refid="dynamicWhere" />
	</select>
	
	<!-- 查询数量 -->
	<select id="findCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from SYS_ORG 
		<include refid="dynamicWhere" />
	</select>
	
	
	<!-- 分页查询，pageBean为null，默认查询所有的数据 -->
	<select id="find" parameterType="java.util.Map"  resultType="Org" >
	 	<if test="null!=pageBean" >
			select top ${pageBean.limit} <include refid="searchFields" /> from SYS_ORG 
			<include refid="dynamicWhere" />
			and uuid not in (
				select top ${pageBean.offset} uuid  from SYS_ORG 
				<include refid="dynamicWhere" />
			)
		</if>
		<if test="null==pageBean" >
			select <include refid="searchFields" /> from SYS_ORG 
		</if>
		ORDER BY SEQUENCENO ASC,CREATETIME DESC
	</select>
	
	
</mapper>